/* Color Theme Swatches in Hex */
.rudyzix.de-1-hex { color: #A5A6A4; }
.rudyzix.de-2-hex { color: #73450D; }
.rudyzix.de-3-hex { color: #403730; }
.rudyzix.de-4-hex { color: #0D0000; }
.rudyzix.de-5-hex { color: #D9D9D9; }

/* Color Theme Swatches in RGBA */
.rudyzix.de-1-rgba { color: rgba(165, 165, 164, 1); }
.rudyzix.de-2-rgba { color: rgba(114, 68, 12, 1); }
.rudyzix.de-3-rgba { color: rgba(63, 55, 47, 1); }
.rudyzix.de-4-rgba { color: rgba(12, 0, 0, 1); }
.rudyzix.de-5-rgba { color: rgba(216, 216, 216, 1); }

/* Color Theme Swatches in HSLA */
.rudyzix.de-1-hsla { color: hsla(78, 0, 64, 1); }
.rudyzix.de-2-hsla { color: hsla(33, 80, 24, 1); }
.rudyzix.de-3-hsla { color: hsla(28, 14, 21, 1); }
.rudyzix.de-4-hsla { color: hsla(0, 96, 2, 1); }
.rudyzix.de-5-hsla { color: hsla(0, 0, 85, 1); }


/* Color Theme Swatches in Hex */
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-1-hex { color: #F2F2F2; }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-2-hex { color: #D9D9D9; }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-3-hex { color: #8C8C8C; }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-4-hex { color: #404040; }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-1-rgba { color: rgba(242, 242, 242, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-2-rgba { color: rgba(216, 216, 216, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-3-rgba { color: rgba(140, 140, 140, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-4-rgba { color: rgba(63, 63, 63, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-1-hsla { color: hsla(0, 0, 95, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-2-hsla { color: hsla(0, 0, 85, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-3-hsla { color: hsla(0, 0, 55, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-4-hsla { color: hsla(0, 0, 25, 1); }
.strangehelix.bio-|-Biotech-&-Healthcare-Design-Assets-5-hsla { color: hsla(0, 0, 5, 1); }


/* Color Theme Swatches in Hex */
.Netguru-agency---studio-1-hex { color: #BF9775; }
.Netguru-agency---studio-2-hex { color: #8C4C27; }
.Netguru-agency---studio-3-hex { color: #593E34; }
.Netguru-agency---studio-4-hex { color: #F2F2F2; }
.Netguru-agency---studio-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.Netguru-agency---studio-1-rgba { color: rgba(191, 151, 116, 1); }
.Netguru-agency---studio-2-rgba { color: rgba(140, 76, 39, 1); }
.Netguru-agency---studio-3-rgba { color: rgba(89, 61, 51, 1); }
.Netguru-agency---studio-4-rgba { color: rgba(242, 242, 242, 1); }
.Netguru-agency---studio-5-rgba { color: rgba(12, 12, 12, 1); }

/* Color Theme Swatches in HSLA */
.Netguru-agency---studio-1-hsla { color: hsla(28, 36, 60, 1); }
.Netguru-agency---studio-2-hsla { color: hsla(22, 56, 35, 1); }
.Netguru-agency---studio-3-hsla { color: hsla(16, 26, 27, 1); }
.Netguru-agency---studio-4-hsla { color: hsla(0, 0, 95, 1); }
.Netguru-agency---studio-5-hsla { color: hsla(0, 0, 5, 1); }
